* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}
h1 {
    font-size: 52px;
}

input{
    border: 2px solid red;
    font-size: 20px;
    width: 350x;
    padding: 10px;
    margin: 20px auto;
}

.submit-btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.todo-items {
    border: 2px solid red;
    width: 400px;
    margin: 10px auto;
}

.todo-items li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid black;
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}

.btns button {
    border: 2-x solid red;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}